@main() {

   <h2>Liste des jeux</h2>

   <table class="table table-condensed table-hover table-bordered">
       <tr>
           <th>Jeux</th>
           <th style="width: 20px;">Scores</th>
       </tr>
       <tr><td><a href="/game">Akai Katana Shin</a></td><td style="text-align: right;">17</td></tr>
       <tr><td><a href="/game">Donpachi</a></td><td style="text-align: right;">197</td></tr>
       <tr><td><a href="/game">Dodonpachi Daifukkatsu 1.5</a></td><td style="text-align: right;">482</td></tr>
       <tr><td><a href="/game">Espgaluda II</a></td><td style="text-align: right;">349</td></tr>
       <tr><td><a href="/game">Recca</a></td><td style="text-align: right;">835</td></tr>
   </table>

}
