@import play.i18n._
@main() {
    <h2>Ajouter un jeu</h2>
    <form role="form" method="POST" action="/game">

        <div class="form-group">
            <label for="value">Titre</label>
            <input required="true" class="form-control" name="title">
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="cover">Pochette</label>
                    <input type="url" required="true" class="form-control" name="cover">
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label for="thread">Topic</label>
                    <input type="url" required="true" class="form-control" name="thread">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="platforms">Plateformes</label>
                    <textarea name="platforms" class="form-control" rows="3"></textarea>
                    <p class="help-block">
                    @models.Platform.finder.all.toList.map(_.name.toUpperCase+", ").toSet.toList.sorted</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="platforms">Difficultés</label>
                    <textarea name="difficulties" class="form-control" rows="3"></textarea>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="modes">Modes</label>
                    <textarea name="modes" class="form-control" rows="3"></textarea>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="stages">Stages</label>
                    <textarea name="stages" class="form-control" rows="3"></textarea>
                    <p class="help-block">1, 1 BOSS (ex: mort au boss du stage 1), 2-1 (ex: Loop 2 Stage 1)</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="modes">Vaisseaux</label>
                    <textarea name="ships" class="form-control" rows="3"></textarea>
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-success">Valider</button>
    </form>

}
