@(game: models.Game)
@import play.i18n._
@scores(difficulty: Difficulty, mode: Mode) = {
    @if(!game.bestScoresByPlayers(difficulty, mode).isEmpty) {
        <h4>
            <button id="average_@formatters.KeyFormatter.unique(difficulty, mode)"
                    data-html="true"
                    type="button"
                    class="btn btn-default"
                    data-container="body"
                    data-trigger="hover"
                    data-toggle="popover"
                    data-placement="top"
                    data-content="@Messages.get("AverageScore") : <b>@game.averageScore(difficulty, mode) pts</b>"
                    data-original-title=""
                    title="">
                <span class="glyphicon glyphicon-stats"></span>
            </button>
            <script>
                $('#average_@formatters.KeyFormatter.unique(difficulty, mode)').popover('hide');
            </script>

            <div id="container_@formatters.KeyFormatter.unique(difficulty, mode)" style="display:none; width: 860px; margin-bottom: 10px;" ></div>

            <script>
                $(function () {
                    $( "#average_@formatters.KeyFormatter.unique(difficulty, mode)" ).click(
                        function() {
                            $('#container_@formatters.KeyFormatter.unique(difficulty, mode)').show();
                        }
                    );

                    $('#container_@formatters.KeyFormatter.unique(difficulty, mode)').highcharts({
                        chart: {
                            type: 'areaspline'
                        },
                        title: {
                            text: 'Répartition'
                        },
                        xAxis: {
                            categories: [
                                @controllers.StatsController.scoreCategories(game, difficulty, mode)
                            ],
                            labels: {
                                formatter: function() {
                                    return '';
                                }
                            }
                        },
                        yAxis: {
                            title: {
                                text: 'Joueurs'
                            }
                        },
                        plotOptions: {
                            areaspline: {
                                marker: {
                                enabled: false
                                }
                            }
                        },
                        series: [{
                            name: 'Joueurs',
                            data: [@controllers.StatsController.playerPerCategories(game, difficulty, mode)]
                        }]
                    });
                });
            </script>

            @if(mode != null) {
                <span class="label label-default">@mode.name</span>
            }
            @if(difficulty != null) {
                <span class="label label-warning">@difficulty.name</span>
            }
        </h4>
        <table class="table table-condensed table-hover table-bordered">
            <thead>
                <th style="width: 10%; text-align: center;">@Messages.get("Rank")</th>
                <th style="text-align: center; width: 20%;" >@Messages.get("Player")</th>
                <th style="width: 25%; text-align: center;" >@Messages.get("Score")</th>
                <th style="width: 20%; text-align: center;" >@Messages.get("Stage")</th>
                <th style="text-align: center; width: 25%;">@Messages.get("Precisions")</th>
            </thead>
        @for(score <- game.bestScoresByPlayers(difficulty, mode)) {
            <tr @if(score.player.equals(actions.User.current)) {style="background-color: #fdd49c;"}>
                <td style="text-align: right;">@score.formattedRank</td>
                <td><a href="@routes.PlayerController.index(score.player)">@score.player.name</a></td>
                <td style="text-align: right; vertical-align: middle;">
                    @if(score.photo) {
                        <a href="@score.photo" target="_blank" class="label label-primary pull-left" style="margin-right: 5px;">
                            <span id="photo_@score.id"
                            data-html="true"
                            data-container="body"
                            data-trigger="hover"
                            data-toggle="popover"
                            data-placement="top" data-content="<img width='250px' src='@score.photo'/>"
                            data-original-title="" title="" class="glyphicon glyphicon-camera"></span>
                            <script>
                            $('#photo_@score.id').popover('hide');
                            </script>
                        </a>
                    }
                    @if(score.replay) {
                        <a href="@score.replay" target="_blank" class="label label-primary pull-left" style="margin-right: 5px;">
                            <span class="glyphicon glyphicon-play"></span>
                        </a>
                    }
                    <a href="@routes.ScoreController.read(score)">@score.formattedValue</a>
                </td>
                <td style="text-align: right;" >@if(score.stage != null) { @score.stage.name }</td>
                <td style="text-align: center; vertical-align: middle;">
                    @if(score.comment) {
                        @if(score.comment.length < 25) {
                            @score.comment
                        } else {
                            <button id="comment_@score.id" type="button" class="btn btn-xs btn-default" data-container="body" data-trigger="hover" data-toggle="popover" data-placement="left" data-content="@score.comment" data-original-title="" title="">
                                <span class="glyphicon glyphicon-eye-open"></span>
                            </button>
                            <script>
                                $('#comment_@score.id').popover('hide');
                            </script>
                        }
                    }
                </td>
            </tr>
        }
        </table>
    }
}

@main(game) {
    <script src="http://code.highcharts.com/highcharts.js" type="text/javascript"></script>
    <script src="http://code.highcharts.com/modules/exporting.js" type="text/javascript"></script>

   <h2 class="title">

       <img src="@game.cover" alt="@game.title" class="pull-left thumbnail" width="150px" style="margin-right: 20px;" />

       @game.title
       <p style="font-size: 16pt; margin-top: 10px;">
        @for(platform <- game.platforms) {
            <span class="label label-success">@platform.name</span>
        }
       </p>
       <p>
           <a href="@game.thread" class="btn btn-default btn-lg btn-xs">
               <span class="glyphicon glyphicon-share-alt"></span> forum
           </a>
           <a href="@routes.RankingController.index(game)" target="_blank" class="btn btn-default btn-lg btn-xs">
               <span class="glyphicon glyphicon-list-alt"></span> ranking
           </a>
       </p>
   </h2>
    <br style="clear: both;" />

    @if(game.modes.isEmpty) {
        @if(game.difficulties.isEmpty) {
            @scores(null, null)
        } else {
            @for(difficulty <- game.difficulties) {
                @scores(difficulty, null)
            }
        }
    } else {
        @for(mode <- game.modes) {
            @if(game.difficulties.isEmpty) {
                @scores(null, mode)
            } else {
                @for(difficulty <- game.difficulties) {
                    @scores(difficulty, mode)
                }
            }
        }
    }
}
