@(game: models.Game)

@scores(difficulty: Difficulty, mode: Mode) = {
    @if(!game.scoresByPlayers(difficulty, mode).isEmpty) {
        <h4>
            @for(platform <- game.platforms) {
                <span class="label label-success">@platform.name</span>
            }
            @if(difficulty != null) {
                <span class="label label-warning">@difficulty.name</span>
            }
            @if(mode != null) {
                <span class="label label-default">@mode.name</span>
            }
        </h4>
        <table class="table table-condensed table-hover table-bordered">
            <thead>
                <th style="width: 50px; text-align: center;">Rang</th>
                <th style="text-align: center;" >Joueur</th>
                <th style="text-align: center;" >Score</th>
                <th style="text-align: center;" >Stage</th>
                <th style="text-align: center; width: 50px;">Commentaire</th>
            </thead>
        @for(score <- game.scoresByPlayers(difficulty, mode)) {
            <tr>
                <td style="text-align: right;">@score.formattedRank</td>
                <td><a href="@routes.Player.index(score.player)">@score.player.name</a></td>
                <td style="text-align: right; vertical-align: middle;">
                    @if(score.photo) {
                        <a href="@score.photo" target="_blank" class="label label-primary pull-left" style="margin-right: 5px;">
                            <span id="photo_@score.id"
                            data-html="true"
                            data-container="body"
                            data-trigger="hover"
                            data-toggle="popover"
                            data-placement="top" data-content="<img width='250px' src='@score.photo'/>"
                            data-original-title="" title="" class="glyphicon glyphicon-camera"></span>
                            <script>
                            $('#photo_@score.id').popover('hide');
                            </script>
                        </a>
                    }

                    @score.formattedValue
                </td>
                <td>@score.stage.name</td>
                <td style="text-align: center; vertical-align: middle;">
                    @if(score.comment) {
                        <button id="comment_@score.id" type="button" class="btn btn-xs btn-default" data-container="body" data-trigger="hover" data-toggle="popover" data-placement="left" data-content="@score.comment" data-original-title="" title="">
                            <span class="glyphicon glyphicon-eye-open"></span>
                        </button>
                        <script>
                            $('#comment_@score.id').popover('hide');
                        </script>
                    }
                </td>
            </tr>
        }
        </table>
    }
}

@main() {

   <h2 class="title">
       @game.title
       <a href="@game.thread" class="btn btn-default btn-lg btn-xs">
           <span class="glyphicon glyphicon-share-alt"></span> forum
       </a>
       <a href="@routes.Ranking.index(game)" target="_blank" class="btn btn-default btn-lg btn-xs">
           <span class="glyphicon glyphicon-list-alt"></span> ranking
       </a>
   </h2>

    @if(game.modes.isEmpty) {
        @if(game.difficulties.isEmpty) {
            @scores(null, null)
        } else {
            @for(difficulty <- game.difficulties) {
                @scores(difficulty, null)
            }
        }
    } else {
        @for(mode <- game.modes) {
            @if(game.difficulties.isEmpty) {
                @scores(null, mode)
            } else {
                @for(difficulty <- game.difficulties) {
                    @scores(difficulty, mode)
                }
            }
        }
    }
}
