@main() {

   <h2>Akai katana shin</h2>

   <h4><span class="label label-success">Xbox360</span> <span class="label label-warning">NOVICE</span> <span class="label label-default">SLASH / SHIN</span></h4>
   <table class="table table-condensed table-hover table-bordered">
       <tr class="success"><td style="text-align: right;">1st</td><td><a href="/player">øS.Y'om</a></td><td style="text-align: right;">392.856.140</td><td>ALL</td><td>Yaezakura</td></tr>
       <tr><td style="text-align: right;">2nd</td><td><a href="/player">Zapbranisac</a></td><td style="text-align: right;">326.906.180</td><td>ALL</td><td>yaezakura</td></tr>
       <tr><td style="text-align: right;">3rd</td><td><a href="/player">øS.ezi</a></td><td style="text-align: right;">239.890.558</td><td>stage 5 Boss</td><td>yaezakura</td></tr>
       <tr><td style="text-align: right;">4th</td><td><a href="/player">YuShin</a></td><td style="text-align: right;">211.954.093</td><td>ALL</td><td>Yaezakura</td></tr>
       <tr><td style="text-align: right;">5th</td><td><a href="/player">øS.Rechiku</a></td><td style="text-align: right;">181.389.499</td><td>stage 5</td><td>yaezakura</td></tr>
       <tr><td style="text-align: right;">6th</td><td><a href="/player">Akva</a></td><td style="text-align: right;">129.905.765</td><td>Stage 5 Boss</td><td>yaezakura</td></tr>
       <tr><td style="text-align: right;">7th</td><td><a href="/player">Raad</a></td><td style="text-align: right;">93.909.624</td><td>stage 5 Boss</td><td>Kinsenka</td></tr>
       <tr><td style="text-align: right;">8th</td><td><a href="/player">PsyKoTine</a></td><td style="text-align: right;">93.189.000</td><td>stage 5</td><td>kochoran</td></tr>
       <tr><td style="text-align: right;">9th</td><td><a href="/player">YannHuitNeuf</a></td><td style="text-align: right;">86.002.619</td><td>Stage 5 Boss</td><td>Yaezakura</td></tr>
       <tr><td style="text-align: right;">10th</td><td><a href="/player">ALFARABI</a></td><td style="text-align: right;">81.139.140</td><td>stage 5 Boss</td><td>Kinsenka</td></tr>
   </table>

   <h4><span class="label label-success">ARCADE</span></h4>
   <table class="table table-condensed table-hover table-bordered">
       <tr class="success"><td style="text-align: right;">1st</td><td><a href="/player">øS.Y'om</a></td><td style="text-align: right;">408.944.210</td><td>ALL</td><td>Yaezakura</td></tr>
       <tr><td style="text-align: right;">2nd</td><td><a href="/player">Squidhead</a></td><td style="text-align: right;">130.863.115</td><td>ALL</td><td>yaezakura</td></tr>
       <tr><td style="text-align: right;">3rd</td><td><a href="/player">kakashi06</a></td><td style="text-align: right;">85.697.463</td><td>stage 5 Boss</td><td>kinsenka</td></tr>
       <tr><td style="text-align: right;">4th</td><td><a href="/player">Olisan</a></td><td style="text-align: right;">44.621.210</td><td>stage 4 boss</td><td>kinsenka</td></tr>
       <tr><td style="text-align: right;">5th</td><td><a href="/player">Loup</a></td><td style="text-align: right;">41.516.254</td><td>stage 4 Boss</td><td>yaezakura</td></tr>
   </table>

}
