@(timeline: Timeline)
@main() {
    <div id="timeline">
        @for(score <- timeline.scores) {
                <div class="row">
                    <div class="col-sm-2 cover-col">
                        <div style="overflow-y : hidden ; height : 115px ; ">
                            <a class="game" href="@routes.GameController.indexWithName(score.game, score.game.getEscapedTitle)"><img class="cover" src="@score.game.cover" /></a>
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="item">
                            <div>
                                <a class="game" href="@routes.GameController.indexWithName(score.game, score.game.getEscapedTitle)">@score.game.title</a> <a class="author" href="@routes.PlayerController.index(score.player)">@score.player.name</a>
                            </div>
                            <p class="score">
                                <a href="@routes.ScoreController.read(score)">@score.formattedValue @if(!score.isTimeScore){pts}</a>
                            </p>
                            <p class="stage">
                                @if(score.stage != null && !score.stage.name.trim.isEmpty) {
                                    Stage @score.stage
                                }
                            <b>@score.shipName</b>
                                @if(score.comment != null) {
                                    <span class="comment">@score.comment</span>
                                }
                            </p>
                            <div style="width: 100%">
                                @if(score.mode != null) {
                                    <span class="label label-default">@score.mode.name</span>
                                }
                                @if(score.difficulty != null) {
                                    <span class="label label-warning">@score.difficulty.name</span>
                                }
                                @if(score.platform != null) {
                                    <a class="platform label label-success" href="@routes.PlatformController.read(score.platform.name.toUpperCase)">@score.platform.name.toUpperCase</a>
                                }
                                @if(score.photo) {
                                    <a href="@score.photo" target="_blank" class="label label-primary" style="margin-right : 5px ;">
                                        <span id="photo_@score.id"
                                        data-html="true"
                                        data-container="body"
                                        data-trigger="hover"
                                        data-toggle="popover"
                                        data-placement="right" data-content="<img width='250px' src='@score.photo'/>"
                                        data-original-title="" title="" class="glyphicon glyphicon-camera"></span>
                                        <script>
                                            $('#photo_@score.id').popover('hide');
                                        </script>
                                    </a>
                                }
                                @if(score.replay) {
                                    <a href="@score.replay" target="_blank" class="label label-primary" style="margin-right : 5px ;">
                                        <span class="glyphicon glyphicon-play"></span>
                                    </a>
                                }
                                @if(score.is1CC()){<span class="label label-danger">1CC</span> }

                            </div>
                        </div>
                        <small class="date">@score.formattedDate</small>

                    </div>
                    <div class="col-sm-3">
                        <p class="rank">
                            @org.apache.commons.lang3.StringUtils.leftPad(score.formattedRank, 5," ")
                            <span class="total-rank"> /@score.getOpponentCount</span>
                            @if(score.progression != null && score.progression > 0) {
                                <span style="margin-left: 20px;" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-chevron-up"></span> @score.progression</span>
                            }
                        </p>
                    </div>
                </div>
        }
    </div>
}
