@(timeline: Timeline)
@main() {
    <ul id="timeline">
        @for(score <- timeline.scores) {
            <li>
                <a class="game" href="@routes.Game.index(score.game)"><img class="cover" src="@score.game.cover" /></a>
                <div class="item">
                    <div>
                        <a class="game" href="@routes.Game.index(score.game)">@score.game.title</a> <a class="author" href="@routes.Player.index(score.player)">@score.player.name</a>
                        <small class="date">@score.formattedDate</small>
                    </div>
                    <p>
                        <span class="score">@score.formattedValue</span>
                        @if(score.rank > 0) {
                            <span class="rank">(@score.formattedRank)</span>
                        }
                        <span class="stage">@score.stage.name</span>
                    </p>
                    <p><span class="comment">@score.comment</span></p>
                    <div style="float:right;">
                        @if(score.mode != null) {
                            <span class="label label-default">@score.mode.name</span>
                        }
                        @if(score.difficulty != null) {
                            <span class="label label-warning">@score.difficulty.name</span>
                        }
                        @if(score.platform != null) {
                            <span class="label label-success">@score.platform.name</span>
                        }
                    </div>
                </div>
            </li>
        }
    </ul>
}
