@()(content: Html)
@import play.i18n._
<html>
    <head>
        <title>shmuphiscores.com</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" />

        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
        <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js" type="text/javascript"></script>
        <link rel="shortcut icon" href="http://www.shmup.com/favicon.ico" >
    </head>
    <body>
        <h1 style="text-align: center;">
            <a href="/"><img src="http://forum.shmup.com/styles/avalon/imageset/logo.png"></a>
        </h1>
        <div class="container">
            <div style="margin-right: -60px;margin-left: -100px;">
                <div id="menu" class="btn-group btn-group-sm pull-right" style="z-index: 1">
                    <a href="/score" class="btn btn-danger"><span class="glyphicon glyphicon-plus"></span> @Messages.get("Score")</a>
                    <a href="/games" class="btn btn-danger"><span class="glyphicon glyphicon-th-list"></span> @Messages.get("Games")</a>
                    <a href="/players" class="btn btn-danger"><span class="glyphicon glyphicon-user"></span> @Messages.get("Players")</a>
                    <a href="@routes.PlayerController.index(controllers.PlayerController.current)" class="btn btn-primary">Mon compte [ @controllers.PlayerController.current.name ]</a>
                </div>

                <div class="col-lg-12">
                    @content
                </div>
            </div>
            <div class="footer">
                <p>
                    shmuphiscores.com 2013 | <a href="http://www.shmup.com">shmup.com</a> | <b>@plugins.Stats.gameCount</b> @Messages.get("games") - <b>@plugins.Stats.playerCount</b> @Messages.get("players") - <b>@plugins.Stats.scoreCount</b> @Messages.get("scores")
                </p>
            </div>
        </div> <!-- /container -->
    </body>
</html>
