@(game: models.Game = null)
@import play.i18n._
<div id="menu" class="btn-group btn-group-sm pull-right" style="z-index: 1">
    @if(actions.User.current.isAuthenticated) {
        @if(game == null) {
            <a href="@routes.ScoreController.selectGame" class="btn btn-danger"><span class="glyphicon glyphicon-plus"></span> @Messages.get("Score")</a>
        } else {
            <a href="@routes.ScoreController.fillFormWithGame(game)" class="btn btn-danger"><span class="glyphicon glyphicon-plus"></span> @Messages.get("Score")</a>
        }
    }
<div class="btn-group btn-group-sm">
    <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
        @Messages.get("Menu") <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
        <li><a href="@routes.GamesController.index"><span class="glyphicon glyphicon-th-list"></span> @Messages.get("Games")</a></li>
        <li><a href="@routes.PlayersController.index"><span class="glyphicon glyphicon-user"></span> @Messages.get("Players")</a></li>
        <li><a href="@routes.StatsController.index"><span class="glyphicon glyphicon-stats"></span> @Messages.get("Stats")</a></li>
        <li class="divider"></li>
        <li><a href="http://www.shmup.com/index.php?page=doss/Hiscores/hiscores_tuto" target="_blank"><span class="glyphicon glyphicon-question-sign"></span> @Messages.get("Help")</a></li>
    </ul>
</div>

    @if(actions.User.current.isAuthenticated) {
        <a href="@routes.PlayerController.index(actions.User.current)" class="btn btn-primary">@actions.User.current.name</a>
    } else {
        <a href="http://forum.shmup.com/ucp.php?mode=login" id="account" class="btn btn-primary" data-container="body" data-trigger="hover" data-toggle="popover" data-placement="left" data-content="@Messages.get("LogonHelp")" data-original-title="" title="" >@Messages.get("Logon")</a>
        <script>
            $('#account').popover('hide');
        </script>
    }
</div>