@(page: controllers.OneCreditController.OneCreditPage)
@main() {

    <h2>One Crediters</h2>

    @for(platform <- page.platforms) {
        @if(!platform.games.isEmpty) {
            <h3><a style='color: #5cb85c' href="/platform/@platform.platform">@platform.platform</a></h3>
            <div style="color: #999">
                @for(game <- platform.games) {
                    <a href="/game/@game.game.id">@game.game.title</a> : @Html(game.players.map(player => "<a style='color: #999' href='/player/" + player.id + "'>" + player.name.trim + "</a>").reduceLeft(_ + ", " + _))
                    <br/>
                }
            </div>
        }
    }


}
