@(page: controllers.OneCreditController.OneCreditPage)
@main(page = "1cc") {

    <h2>One Crediters</h2>

    @for(platform <- page.platforms) {
        @if(!platform.games.isEmpty) {
            <h3><a style='color: #5cb85c' href="/platform/@platform.platform">@platform.platform.toUpperCase</a></h3>
            <div style="color: #999">
                @for(game <- platform.games) {
                    <p>
                    <a href="/game/@game.game.id">@game.game.title</a>
                    </br>
                    @for(category <- game.categories.values) {
                        @if(category.key) {
                            <u>@category.mode @category.difficulty</u> :
                        }@Html(category.players.toList.distinct.sortBy(_.name.toLowerCase).map(player => "<a style='color: #999' href='/player/" + player.id + "'>" + player.name.trim + "</a>").reduceLeft(_ + ", " + _))
                        <br/>
                    }
                    </p>

                }
            </div>
        }
    }


}
