@(player: models.Player)

@gameLine(score: models.Score) = {
    <tr>
        <td>
            <a href="@routes.Game.index(score.game)">@score.game.title</a>
        </td>
        <td>
            <span class="label label-success">@score.platform.name</span> <span class="label label-warning">@score.difficulty.name</span> <span class="label label-default">@score.mode.name</span>
        </td>
        <td style="text-align: right;">
            @score.formattedValue
        </td>
        <td style="text-align: right;">
            @score.formattedRank
        </td>
    </tr>
}

@main() {
   <h2>@player.name</h2>
   <table class="table table-condensed table-hover table-bordered">
       @player.scores.groupBy(_.game).map(game => game._2.groupBy(_.platform).map(platform => gameLine(platform._2.max)))
   </table>
}
