@(player: models.Player)
@import play.i18n._

@gameLine(score: models.Score) = {
    <tr>
        <td>
            <a href="@routes.GameController.indexWithName(score.game, score.game.getEscapedTitle)">@score.game.title</a>
        </td>
        <td>
            @if(score.mode != null) {
                <span class="label label-default" style="vertical-align: middle;">@score.mode.name</span>
            }
        </td>
        <td>
            @if(score.difficulty != null) {
                <span class="label label-warning">@score.difficulty.name</span>
            }
        </td>
        <td>
            @score.stage
        </td>
        <td style="text-align: right;">
            <a href="@routes.ScoreController.read(score)">@score.formattedValue</a>
        </td>
        <td style="text-align: right;">
            @score.formattedRank
        </td>
    </tr>
}

@main() {
   <h2>@player.name</h2>
   <table class="table table-condensed table-hover table-bordered">
       <thead>
           <th>@Messages.get("Game")</th>
           <th>@Messages.get("Mode")</th>
           <th>@Messages.get("Difficulty")</th>
           <th style="text-align: center;">@Messages.get("Stage")</th>
           <th style="text-align: center;">@Messages.get("Score")</th>
           <th style="text-align: center; width: 50px;">@Messages.get("Rank")</th>
       </thead>
       @player.bestScores.map(gameLine(_))
   </table>
}
