@(players: List[models.Player])
@main() {
   <h2>Liste des joueurs</h2>
   <table class="table table-condensed table-hover table-bordered">
       <tr>
           <th>Joueur</th>
           <th style="width: 20px;">Scores</th>
       </tr>
       @for(player <- players) {
            <tr>
                <td>
                    <a href="@routes.Player.index(player)">@player.name</a>
                </td>
                <td style="text-align: right;">
                    @player.scores.size()
                </td>
            </tr>
       }
   </table>
}
