@(players: List[models.Player])
@import play.i18n._
@main() {
   <h2>@Messages.get("players.scala.html.playerlist")</h2>
    <table id="players">
       <thead>
           <th>@Messages.get("Players")</th>
           <th>1st</th>
           <th>Top 3</th>
           <th>Top 10</th>
           <th>1CC</th>
       </thead>
       @for(player <- players) {
            <tr>
                <td>
                    <a href="@routes.PlayerController.index(player)">@player.name</a>
                </td>
                <td style="text-align: right;">
                    @player.firstRankCount
                </td>
                <td style="text-align: right;">
                    @player.top3Count
                </td>
                <td style="text-align: right;">
                    @player.top10Count
                </td>
                <td style="text-align: right;">
                    @player.oneCreditCount
                </td>
            </tr>
       }
   </table>

    <script>
        $(document).ready(function() {
            $('#players').dataTable({
                "bJQueryUI": true,
                "bPaginate": false,
                "bLengthChange": false
            });
        } );
    </script>
}
