@(player: models.Player)
@import play.i18n._

@gameLine(score: models.Score) = {
    <tr>
        <td style="vertical-align: middle;">
            <a href="@routes.GameController.indexWithName(score.game, score.game.getEscapedTitle)">@score.game.title</a>
        </td>
        <td style="vertical-align: middle;">
            @if(score.mode != null) {
                <span class="label label-default" style="vertical-align: middle;">@score.mode</span>
            }
        </td>
        <td style="vertical-align: middle;">
            @if(score.difficulty != null) {
                <span class="label label-warning">@score.difficulty</span>
            }
        </td>
        <td style="vertical-align: middle; text-align: right;">
            @score.stage
        </td>
        <td style="text-align: right; vertical-align: middle;">
            <a href="@routes.ScoreController.read(score)">@score.formattedValue</a>
        </td>
        <td style="text-align: right; vertical-align: middle">
            @score.formattedRank
        </td>
    </tr>
}

@main() {
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>

    <h2>@player.name</h2>
   <table class="table table-condensed table-striped table-hover table-bordered">
       <thead>
           <th>@Messages.get("Game")</th>
           <th>@Messages.get("Mode")</th>
           <th>@Messages.get("Difficulty")</th>
           <th style="text-align: center;">@Messages.get("Stage")</th>
           <th style="text-align: center;">@Messages.get("Score")</th>
           <th style="text-align: center; width: 50px;">@Messages.get("Rank")</th>
       </thead>
       @player.bestScores.map(gameLine(_))
   </table>

    @if(player.hasReplays) {
        <h3>@Messages.get("Replays")</h3>
        <table class="table table-condensed table-striped table-hover table-bordered">
        @for(score <- player.bestReplayableScores) {
            <tr>
                <td style="width: 50px; text-align: center; vertical-align: middle;">
                    <a href="@score.replay" target="_blank" class="label label-primary">
                        <span class="glyphicon glyphicon-play"></span>
                    </a>
                </td>
                <td>
                    <a href="@routes.GameController.indexWithName(score.game, score.game.getEscapedTitle)">@score.game.title</a>
                </td>
                <td>
                    <span class="label label-default" style="vertical-align: middle;">@score.mode</span>
                    <span class="label label-warning">@score.difficulty</span>
                    <span class="label label-success">
                        <a class="platform" href="@routes.PlatformController.read(score.platform.name.toUpperCase)">@score.platform.name.toUpperCase</a>
                    </span>
                </td>
                <td style="text-align: right;"><a href="@routes.ScoreController.read(score)">@score.formattedValue</a></td>
                <td style="text-align: right;">@score.formattedDate</td>
            </tr>
        }
        </table>
    }

    <h3>@Messages.get("Progression")</h3>

    <div id="container3"></div>

    <script>
    $(function () {

    $('#container3').highcharts({
    chart: {
        type: 'area'
    },
    title: {
        text: ''
    },
    xAxis: {
        tickmarkPlacement: 'true',
        title: {
            enabled: false
        },
        categories: [
            @for(title <- player.playedGameTitlesForPlayer()) {
                '@title',
            }
        ],
        labels: {
        enabled: false
        }
    },
    yAxis: {
        title: {
            text: '@Messages.get("Gap")'
        }
    },
    tooltip: {
        shared: false,
        valueSuffix: ' pts'
    },
    plotOptions: {
        area: {
            stacking: 'percent',
            marker: {
                enabled: false
            }
        }
    },
    series: [
        {
            name: 'TOP',
            data: [@player.bestScoresByGameForPlayer()]
        },
        {
            name: '@player.name.replaceAll("'","")',
            data: [@player.bestPlayerScoresByGameForPlayer()]
        }
    ]
    });
    });
    </script>
}
