@main() {

   <h2>øS.Y'om</h2>

   <table class="table table-condensed table-hover table-bordered">
       <tr><td><a href="/game">Akai katana shin</a></td><td><span class="label label-success">Xbox360</span> <span class="label label-warning">NOVICE</span> <span class="label label-default">SLASH / SHIN</span></td><td style="text-align: right;">326.906.180</td><td style="text-align: right;">1st</td></tr>
       <tr><td><a href="/game">Soldier Blade</a></td><td><span class="label label-success">PCE</span></td><td style="text-align: right;">78.530</td><td style="text-align: right;">4th</td></tr>
       <tr><td><a href="/game">Viewpoint</a></td><td><span class="label label-success">NEOGEO</span> <span class="label label-warning">MVS</span></td><td style="text-align: right;">96.234</td><td style="text-align: right;">3rd</td></tr>
   </table>

}
