@(player: models.Player)

@gameLine(score: models.Score) = {
    <tr>
        <td>
            <a href="@routes.Game.index(score.game)">@score.game.title</a>
        </td>
        <td>
            @if(score.platform != null) {
                <span class="label label-success">@score.platform.name</span>
            }
            @if(score.difficulty != null) {
                <span class="label label-warning">@score.difficulty.name</span>
            }
            @if(score.mode != null) {
                <span class="label label-default">@score.mode.name</span>
            }
        </td>
        <td>
            @score.stage
        </td>
        <td style="text-align: right;">
            <a href="@routes.Score.read(score)">@score.formattedValue</a>
        </td>
        <td style="text-align: right;">
            @score.formattedRank
        </td>
    </tr>
}

@main() {
   <h2>@player.name</h2>
   <table class="table table-condensed table-hover table-bordered">
       <thead>
           <th>Jeu</th>
           <th>Plateforme / Difficulté / Mode</th>
           <th style="text-align: center;">Stage</th>
           <th style="text-align: center;">Score</th>
           <th style="text-align: center; width: 50px;">Rang</th>
       </thead>
       @player.bestScores.map(gameLine(_))
   </table>
}
