@(player: models.Player)
@import play.i18n._

@gameLine(score: models.Score) = {
    <tr>
        <td style="vertical-align: middle;">
            <a href="@routes.GameController.indexWithName(score.game, score.game.getEscapedTitle)">@score.game.title</a>
        </td>
        <td style="vertical-align: middle;">
            @if(score.mode != null) {
                <span class="label label-default" style="vertical-align: middle;">@score.mode.name</span>
            }
        </td>
        <td style="vertical-align: middle;">
            @if(score.difficulty != null) {
                <span class="label label-warning">@score.difficulty.name</span>
            }
        </td>
        <td style="vertical-align: middle; text-align: right;">
            @score.stage
        </td>
        <td style="text-align: right; vertical-align: middle;">
            <a href="@routes.ScoreController.read(score)">@score.formattedValue</a>
        </td>
        <td style="text-align: right; vertical-align: middle">
            @score.formattedRank
        </td>
    </tr>
}

@main() {
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>


    <h2>@player.name</h2>
   <table class="table table-condensed table-striped table-hover table-bordered">
       <thead>
           <th>@Messages.get("Game")</th>
           <th>@Messages.get("Mode")</th>
           <th>@Messages.get("Difficulty")</th>
           <th style="text-align: center;">@Messages.get("Stage")</th>
           <th style="text-align: center;">@Messages.get("Score")</th>
           <th style="text-align: center; width: 50px;">@Messages.get("Rank")</th>
       </thead>
       @player.bestScores.map(gameLine(_))
   </table>

    <div id="container3"></div>

    <script>
    $(function () {

    $('#container3').highcharts({
    chart: {
        type: 'area',
        zoomType: 'x',
        spacingRight: 20
    },
    colors: [
    '#d9534f',
    '#428bca',
    '#5cb85c',
    '#910000',
    '#1aadce',
    '#492970',
    '#f28f43',
    '#77a1e5',
    '#c42525',
    '#a6c96a'
    ],
    title: {
        text: ''
    },
    xAxis: {
        tickmarkPlacement: 'on',
        title: {
            enabled: false
        },
        categories: [
            @for(title <- controllers.StatsController.playedGameTitlesForPlayer(player)) {
                '@title',
            }
        ]
    },
    yAxis: {
        type: 'logarithmic',
        title: {
            text: 'Scores'
        }
    },
    tooltip: {
        shared: true,
        valueSuffix: ' pts'
    },
    plotOptions: {
        area: {
            marker: {
                enabled: false
            }
        }
    },
    series: [
        {
            name: 'TOP',
            data: [@controllers.StatsController.bestScoresByGameForPlayer(player)]
        },

    {
    name: 'Average',
    data: [@controllers.StatsController.averageScoresByGameForPlayer(player)]
    },
        {
            name: '@player.name',
            data: [@controllers.StatsController.bestPlayerScoresByGameForPlayer(player)]
        }
    ]
    });
    });
    </script>
}
