@main() {

    <h2>Ajouter un score</h2>

    <form role="form">


        <div class="row">
            <div class="col-md-12">
                <div class="form-group">

                <label for="exampleInputEmail1">Jeu</label>
                    <select class="form-control">
                        <option>Akai Katana Shin</option>
                        <option>Donpachi</option>
                        <option>Dodonpachi Daifukkatsu 1.5</option>
                        <option>Espgaluda II</option>
                        <option>Recca</option>
                    </select>
                    </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">

                <label for="exampleInputEmail1">Plateforme</label>
                <select class="form-control">
                    <option>ARCADE</option>
                    <option>NEOGEO</option>
                    <option>PCE</option>
                </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">

                <label for="exampleInputEmail1">Mode</label>
                <select class="form-control">
                    <option>EASY</option>
                    <option>NORMAL</option>
                    <option>MVS</option>
                    <option>HARD</option>
                </select>
                    </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="exampleInputEmail1">Score</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="123.456">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="exampleInputEmail1">Photo</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="http://imageshack.us/a/img855/5641/">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="exampleInputFile">Commentaire</label>
                    <textarea class="form-control" rows="5"></textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="exampleInputEmail1">Identifiant</label>
                    <input type="email" class="form-control" id="exampleInputEmail1">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="exampleInputPassword1">Mot de passe</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
            </div>
            <div class="col-md-4">
                <label for="exampleInputEmail1">Poster sur le forum</label>
                <select class="form-control">
                    <option>OUI</option>
                    <option>NON</option>
                </select>
            </div>
        </div>

        <button type="submit" class="btn btn-success">Valider</button>
    </form>

}
