@(score: models.Score, scoreForm: Form[models.Score])
    @import play.i18n._
    @main() {
    <script src="http://code.highcharts.com/highcharts.js" type="text/javascript"></script>
    <script src="http://code.highcharts.com/modules/exporting.js" type="text/javascript"></script>


    <h2 class="title">
            <a href="@routes.GameController.indexWithName(score.game, score.game.title)"><img src="@score.game.cover" alt="@score.game.title" class="pull-left thumbnail" width="150px" style="margin-right : 20px ;" /></a>
            <span>
                <a href="@routes.GameController.indexWithName(score.game, score.game.title)">@score.game.title</a>
            </span>
            <p>
                <a href="@score.game.thread" class="btn btn-default btn-lg btn-xs">
                    <span class="glyphicon glyphicon-share-alt"></span> forum
                </a>
                <a href="@routes.RankingController.index(score.game)" target="_blank" class="btn btn-default btn-lg btn-xs">
                    <span class="glyphicon glyphicon-list-alt"></span> ranking
                </a>
            </p>
        </h2>

        <div style="clear : both ;"/>
        <form role="form" method="POST" action="@routes.ScoreController.update" enctype='multipart/form-data'>
            @if(scoreForm.hasGlobalErrors) {
                <p class="alert alert-danger">
                @scoreForm.globalError.message
                </p>
            }
            <input type="hidden" name="scoreId" value="@score.id" />
            <input type="hidden" name="oldPhoto" value="@score.photo" />
            <input type="hidden" name="oldInp" value="@score.inp" />
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="playerName">@Messages.get("Player")</label>
                        <a href="@routes.PlayerController.index(score.player)">@score.player.name</a>
                    </div>
                </div>
            </div>
            <div class="row">
                @if(score.isTimeScore) {
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="minutes">Minutes</label>
                            <input type="number" maxlength="2" size="2" min="0" max="59" class="form-control" name="minutes" placeholder="12mn" value="@score.minutes">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="seconds">Secondes</label>
                            <input type="number" maxlength="2" size="2" min="0" max="59" class="form-control" name="seconds" placeholder="34s" value="@score.seconds">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="seconds">10èmes de seconde</label>
                            <input type="number" maxlength="2" size="2" min="0" max="99" class="form-control" name="milliseconds" placeholder="34s" value="@score.milliseconds">
                        </div>
                    </div>
                } else {
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="value">@Messages.get("Score") (pts)</label>
                            <input type="text" class="form-control" name="value" placeholder="123456" value="@score.valuePoints">
                        </div>
                    </div>
                }
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="stage">@Messages.get("Stage")</label>
                        <select name="stage" class="form-control">
                        @for(stage <- score.game.stages) {
                            <option value="@stage.id" @if(stage.equals(score.stage)) {selected} >@stage.name </option>
                        }
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="ship">@Messages.get("Ship")</label>
                        <select name="ship" class="form-control">
                        @for(ship <- score.game.ships) {
                            <option value="@ship.id" @if(ship.equals(score.ship)) {selected} >@ship.name </option>
                        }
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="platform">@Messages.get("Platform")</label>
                        <select name="platform" class="form-control">
                        @for(platform <- score.game.platforms) {
                            <option value="@platform.id" @if(platform.equals(score.platform)) {selected} >@platform.name.toUpperCase</option>
                        }
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="difficulty">@Messages.get("Difficulty")</label>
                        <select name="difficulty" class="form-control">
                        @for(difficulty <- score.game.difficulties) {
                            <option value="@difficulty.id" @if(difficulty.equals(score.difficulty)) {selected} >@difficulty.name </option>
                        }
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="mode">@Messages.get("Mode")</label>
                        <select name="mode" class="form-control">
                        @for(mode <- score.game.modes) {
                            <option value="@mode.id" @if(mode.equals(score.mode)) {selected} >@mode.name </option>
                        }
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="photo">@Messages.get("Photo")</label>
                        <span class="btn btn-primary btn-default btn-file form-control" style="text-align: left;">
                            Ajouter une photo <input type="file" name="photo">
                        </span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="inp">@Messages.get("Inp")</label>
                        <span class="btn btn-success btn-default btn-file form-control" style="text-align: left;">
                            Ajouter un INP <input type="file" name="inp">
                        </span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="replay">@Messages.get("Replay")</label>
                        <input type="url" class="form-control" name="replay" value="@score.replay" placeholder="@Messages.get("scoreform.scala.html.replay.placeholder")">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="comment">@Messages.get("Comment")</label>
                        <textarea name="comment" class="form-control" rows="5">@score.comment</textarea>
                    </div>
                </div>
            </div>

            @if(score.isPlayedBy(actions.User.current)) {
                <button type="submit" class="btn btn-success">@Messages.get("Update")</button>
            }

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <h3>Progression</h3>
                        <p>
                            @if(score.platform != null) {
                                <span class="label label-success">@score.platform.name.toUpperCase</span>
                            }
                            @if(score.mode != null) {
                                <span class="label label-default">@score.mode.name</span>
                            }
                            @if(score.difficulty != null) {
                                <span class="label label-warning">@score.difficulty.name</span>
                            }
                        </p>

                        <table class="table table-condensed table-hover table-striped table-bordered">
                            <tr>
                                <th>
                                    @Messages.get("Date")
                                </th>
                                <th style="text-align: center;">
                                    @Messages.get("Stage")
                                </th>
                                <th style="text-align: center;">
                                    @Messages.get("Score")
                                </th>
                                <th style="text-align: center;">
                                    @Messages.get("GapWithPreviousScore")
                                </th>
                                <th style="text-align: center;">
                                    @Messages.get("Precisions")
                                </th>
                            </tr>

                            @for(score <- ScoreController.findProgressionOf(score)) {
                                <tr>
                                    <td>
                                        @score.getCreatedAt.format("dd/MM/yyyy")
                                    </td>
                                    <td style="text-align: right">
                                        @score.stage
                                    </td>
                                    <td style="text-align: right;">
                                        <a href="@routes.ScoreController.read(score)">@score.formattedValue()</a>
                                    </td>
                                    <td style="text-align: right;">
                                        @if(score.gapWithPreviousScore != null) {
                                            +@score.gapWithPreviousScore%
                                        }
                                    </td>
                                    <td style="text-align: center;">
                                        @score.comment
                                    </td>
                                </tr>
                            }
                        </table>

                        <div id="container3"></div>
                        <script>
                        $(function () {
                            $('#container3').highcharts({
                                chart: {
                                    type: 'area'
                                },
                                title: {
                                    text: ''
                                },
                                xAxis: {
                                    tickmarkPlacement: 'true',
                                    title: {
                                        enabled: false
                                    },
                                    categories: [
                                        @for(_score <- ScoreController.findProgressionOf(score)) {
                                            '@_score.getCreatedAt.format("dd/MM/yyyy")',
                                        }
                                    ],
                                    labels: {
                                        enabled: false
                                    },
                                    plotLines :[{
                                        color :'#FF0000',
                                        dashStyle :'ShortDash',
                                        width : 2,
                                        value : @ScoreController.findProgressionOf(score).toArray().indexOf(score),
                                        zIndex : 0,
                                        label : {
                                            text :'@Messages.get("Score")'
                                        }
                                    }]
                                },
                                yAxis: {
                                    title: {
                                        text: '@Messages.get("Score")'
                                    }
                                },
                                tooltip: {
                                    shared: false,
                                    valueSuffix: ' pts'
                                },
                                series: [{
                                    name: 'Score',
                                    data: [@ScoreController.findProgressionOf(score).map(score =>  score.value+",")]
                                }]
                            });
                        });
                        </script>

                    </div>
                </div>
            </div>

        </form>

    }