@(games: List[models.Game])
@import play.i18n._
@main(page = "score") {
    <h2>@Messages.get("AddScore")</h2>
    <form role="form" action="/score/new" method="POST">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="game">@Messages.get("SelectGame")</label>
                    <select name="game" class="form-control">
                        @for(game <- games) {
                            <option value="@game.id">@game.title</option>
                        }
                    </select>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-success">@Messages.get("Submit")</button>
    </form>

}
