@(games: List[models.Game])
@main() {
    <h2>Ajouter un score</h2>
    <form role="form" action="/score/new" method="POST">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="game">Sélectionnez le jeu</label>
                    <select name="game" class="form-control">
                        @for(game <- games) {
                            <option value="@game.id">@game.title</option>
                        }
                    </select>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-success">Valider</button>
    </form>

}
