@(games: List[models.Game], platforms: List[models.Platform], scores: List[models.Score])
@import play.i18n._
@main() {

    <script src="http://code.highcharts.com/highcharts.js" type="text/javascript"></script>
    <script src="http://code.highcharts.com/modules/exporting.js" type="text/javascript"></script>

    <div class="row">
        <div class="col-md-12">
            <h3>@Messages.get("Games")</h3>
            <table id="game-stats">
                @for(game <- games.sortBy(-_.getScoreCountLast30Days)) {
                    <tr>
                        <td width="130px;">
                            <div style="overflow-y: hidden; height: 80px;">
                                <a href="@routes.GameController.indexWithName(game, game.getEscapedTitle)"><img src="@game.cover" width="120px" alt="@game.title" /></a>
                            </div>
                        </td>
                        <td>
                            <span class="author" style="float: right; margin-right: 10px;font-size:10px; ">Importé @game.getCreatedSince</span>
                            <a href="@routes.GameController.indexWithName(game, game.getEscapedTitle)" class="game">@game.title</a>
                            <table id="game-detail-stat" class="author">
                                <tr><td>@game.getScoreCountLast30Days</td><td>scores ces 30 derniers jours</td></tr>
                                <tr><td>@game.getScoreCountLast90Days</td><td>scores ce trimestre</td></tr>
                                <tr><td>@game.scores.size</td><td>scores au total</td></tr>
                                <tr><td>@game.getPlayers.size</td><td>joueurs uniques</td></tr>
                            </table>
                        </td>
                        <td @if(game.getScoreCountLast30Days > 3 ){class="active-game"} else {class="inactive-game"}></td>
                    </tr>
                }
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12" style="margin-top: 45px;">
            <div id="container2"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div id="container"></div>
        </div>
    </div>

    <script>
        $(function () {
            $('#container').highcharts({
            chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false
                },
                title: {
                    text: 'Répartition par plateforme'
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: false,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            color: '#000000',
                            connectorColor: '#000000',
                            format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                        }
                    }
                },
                series: [{
                    type: 'pie',
                    name: 'Plateforme',
                    data: [
                        @for(p <- platforms.groupBy(_.name.toUpperCase)) {
                            [' @p._1 ',   @p._2.size],
                        }
                    ]
                }]
            });
        });
    </script>

    <script>
        $(function () {
            $('#container2').highcharts({
                title: {
                    text: '@Messages.get("Scores")'
                },
                xAxis: {
                    type: 'datetime',
                    maxZoom: 14 * 24 * 3600000,
                    title: {
                        text: null
                    }
                },
                yAxis: {
                    title: {
                        text: '@Messages.get("Scores")'
                    },
                    minorTickInterval: 1
                },
                tooltip: {
                    shared: true
                },
                legend: {
                    enabled: true
                },
                plotOptions: {
                    area: {
                        fillColor: {
                            linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1},
                            stops: [
                                [0, Highcharts.getOptions().colors[0]],
                                [1, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
                            ]
                        },
                        lineWidth: 1,
                        marker: {
                            enabled: false
                        },
                        shadow: false,
                        states: {
                            hover: {
                                lineWidth: 1
                            }
                        },
                        threshold: null
                    }
                },

                series: [
                {
                    type: 'areaspline',
                    name: 'Scores',
                    pointInterval: 24 * 3600 * 1000,
                    pointStart: Date.UTC(2013, 10, 29),
                    marker: {
                        enabled: false
                    },
                    data: [
                        @controllers.StatsController.scoresPerDay
                    ]
                }
                ]
            });
        });
    </script>
}
